 /*<body {
 	text-indent: 10px;
 }*/

p {
	font: 30px Tahoma;
	text-align: center;
}

table, td, th {
	border: 1px solid #cccccc
}

td {
	text-indent: 10px;
}

table {
	width: 95%;
}

.new1 {
	width: 200px;
}

.new2 {
	width: 250px;
}

.new3 {
	background-color: green;
	text-align: center;
	color: #FFFFFF;
}

.new5 {
	background-color: orange;
	text-align: center;
	color: #FFFFFF;
}

.new4 {
	background-color: red;
	text-align: center;
	color: #FFFFFF;
}
