#contactForms {
    width: 750px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 999;
}
.contactFormsText {
    height: 100px;
    padding-top: 42px;
}
.contactFormsText1 {
    text-align: center;
    letter-spacing: 1px;
    font-family: "century gothic", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #fb8a32;
    font-weight: 300;
    text-shadow: 0 1px 2px #00000090;
} 
.contactFormsText2 {
    text-align: center;
    font-family: "century gothic", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    color: #dedede;
    font-weight: 100;
    padding-top: 11px;
}
#contactFormsContainer{
    height: 250px;
}
.regContTotal {
    height: 250px;
}
.formName {
    width: 350px;
    height: 250px;
    float: left;
}
.nameSurname {
    width: 390px;
    height: 250px;
    float: right;
    margin-right: 5px;
}
.name {
    margin-bottom: 20px;
}
.inputFormName{
    width: 295px; 
    height: 45px;
    padding: 8px 8px;
    border-radius: 3px;
    cursor: text;
    background-color: #ffffff00;
    border: 1px solid #ada194;
    font-family: Helvetica Neue Blond, Helvetica Blond, Arial Blond, sans-serif;
    font-size: 12px;
    color: #fff;
}
input::-webkit-input-placeholder {
  color: #ada194;
}
input:focus {
    outline: none;
}
.conditions {
    width: 700px;
    text-align: center;
    margin-left: 20px;
}
.conditionsText {
    height: ;
    font-family: Helvetica Neue Blond, Helvetica , Arial Blond, sans-serif;
    font-size: 11px;
    color: #ffffff90;
    letter-spacing: 1px;
    font-weight: 100;
}
.nameFormName {
    display: inline;
    background-position: 0 -43px;
    display: none;
    position: absolute;
    right: 9px;
    top: 9px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 21px;
    width: 21px;
    visibility: hidden;
}
.nameFormSurname {
    display: inline;
    background-position: 0 -43px;
    display: none;
    position: absolute;
    right: 400px;
    top: 130px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 21px;
    width: 21px;
    visibility: hidden;
    float: right;
}
.surname {
    margin-right: 22px;
}
.formControl {
    height: 208px;
    width: 94%;
    padding: 10px;
    border-radius: 3px;
    background-color: #ffffff00;
    cursor: text;
    border: 1px solid #ada194;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #fff;
}
textarea::-webkit-input-placeholder {
  color: #ada194;
}
textarea:focus {
    outline: none;
}
.inform {
    height: 100px;
}
.registration {
    zoom: 1;
    display: block;
    height: 65px;
    margin-top: 20px;
}
.urlButton {
    margin-top: 10px;
    position: relative;
    float: right;
    padding-top: 30px;
    width: 200px;
    padding-left: 40px;
}
.registrationButton1 {
    padding: 13px 40px;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    background: linear-gradient(#fda26f00, #ff6e1820);
    /*box-shadow: inset 0 1px 1px #f9e1d380;*/
    border: 1px solid #ac8c7a;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    /*text-shadow: 0 1px 2px rgba(0,0,0,.5);*/
    font-size: 15px;
    text-decoration: none;
}
.registrationButton1:hover {
    background: linear-gradient( #f9e1d350, #f3691750);
    text-decoration: none;
    color: #fff;
}
.reg_Button {
    display: none !important;
    margin-left: 10px;
    position: relative;
    top: 3px;
}
#linkForm {
    text-decoration: none;
    font-size: 11px;
    color: #a6c4ff;
}
#linkForm:hover {
    color: #ffb57d;
}







