body {
    overflow-y: scroll;
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    display: block;
} 
.global {
    height: 100%;
    margin: 0 auto;
    zoom: 1;
    display: block;
    margin:auto;
    position: relative;
}
.header { 
    height: 130px;
    width: 100%; 
    background: linear-gradient(to top, #fffef3, #c8e0f0);
    display: block;
    position: fixed;
    border-bottom: 1px solid #c8e0f0;
    z-index: 1000;
}
.menuBar {
    height: 90px;
    width: 100%;
    margin: 0;
    position: relative;
    outline: 0;
    padding: -20px;
    vertical-align: top;
}
.logo {
    position: absolute;
    top: 30px;
    left: 30px;
}
.phonelist {
    height: 90px;
    margin: 0 20px 0 0;
    text-align: center;
    display: block;
    float: right;
}
#russia{
    margin-top: 10px;
    text-align: center;
    position: relative;
    float: right;
}
#españa{
    margin-top: 10px;
    text-align: center;
    position: relative;
    float: right;
}
.phone {    
    width: 165px;
    position: relative;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    color: #f36917;
}
p {
    font-size: 4px;
}
.urlButton {
    height: 90px;
    width: 400px;
    margin: 0 20px 0 0;
    text-align: center;
    display: block;
    float: right;
}
#menu {
    width: 600px;
    left: 0px;
    bottom: 0px;
    float: right;
    margin-right: 10px;
    margin-top: -10px; 
    position: relative;
}
.levelСontext {
    width: 600px;
    margin: 0;
    padding-top: 10px;
    padding-left: 0; 
}
.context {
    display: inline-block;
    font-family: "Open Sans",sans-serif;
    padding-top: 10px;
    padding-left: 43px;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    font-size: 14px;
    outline: none;
    font-weight: bold;
}
.contextMenu {
    color: #959595;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px;
}
.contextMenu:hover {
    color: #f36917;    
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.globalContainer{
    height: 1200px;
    position: relative;
    padding-top: 130px;
}
.globalContent {
    height: 100%;
    position: relative;
}
.content1 {
    height: 800px;
    position: relative;
}
.content1Form {
    height: 450px;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/hous.jpg);
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
.textH {
    height: 60px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: rgba(119, 119, 119, 0.5);
    color: #fff;
    max-width: 1100px;
    margin-top: 50px;
}
.textP {
    height: 60px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-width: 1000px;
    background-color: rgba(119, 119, 119, 0.5);
    margin-top: 40px;
}
.content1TextH {
    height: 40px;
    font-family: "century gothic", sans-serif;
    font-size: 34px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px #040404;
    margin: 0;
    padding-top: 7px;
    letter-spacing: 1px;
}
.content1Text {
    padding-top: 14px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;
    font-family: "century gothic", sans-serif;
    font-size: 22px;
    font-weight: 100;
}
#contact-us-form {
    background: #ededed;
    border: 1px solid #e9e9e9;
    padding: 15px;
    position: relative;
}
.footer {
    height: 400px;
    width: 100%;
    background-image: url(../images/footer.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
li {
    list-style-type: none; 
}
.registration {
    zoom: 1;
    display: block;
    height: 59px;
}
.urlButton {
    margin-top: 10px;
    position: relative;
    float: right;
    padding-top: 30px;
    width: 200px;
    padding-left: 40px;
}
.registrationButton {
    padding: 7px 20px;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    background: linear-gradient(#edb697, #f36917);
    box-shadow: inset 0 1px 1px #f9e1d3;
    border: 1px solid #ac8c7a;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size: 13px;
    text-decoration: none;
}
.registrationButton:hover {
    background: linear-gradient( #f9e1d3, #f36917);
    text-decoration: none;
    font-size: 14px;
}
.reg_Button {
    display: none !important;
    margin-left: 10px;
    position: relative;
    top: 3px;










