#globalContact {
    height: 100%;
    margin: 0 auto;
    zoom: 1;
    position: relative;
}
.dd1Contact {
	width: 100%;
	height: 880px;
	position: relative;
	background-image: url(../images/map.jpg);
	background-position: 50% 50%;
}
.page {
	background-color: #41608c;
}
.maps {
	width: 1000px;
	height: 790px;
	top: 70px;
	position: relative;
	margin: 0 auto;
}
.mapsText {
	width: 1000px;
	height: 100px;
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	font-family: "century gothic", sans-serif;
	font-size: 33px;
	color: #41608c;
}
.mapsM {
	width: 480px;
	height: 400px;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: right;
	padding-right: 30px;
	top: 50px;
	opacity: 0.7;
	filter: alpha(Opacity=70);
}
.mapsInfo {
	width: 345px;
	height: 400px;
	float: left;
	position: relative;
	margin: 0 auto;
	text-align: right;
	top: 50px;
	opacity: 0.7;
	filter: alpha(Opacity=70);
	box-sizing: border-box;
	padding-left: 30px;
}
iframe {
	box-sizing: border-box;
	box-shadow: 0 2px 8px #41608c;
}
.mapsM {
	animation-name: mapsM;
	-webkit-animation-name: mapsM;
	animation-duration: 3s;	
	-webkit-animation-duration: 3s;
	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;
	visibility: visible !important;	
}
@keyframes mapsM {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}
@-webkit-keyframes mapsM {
	0% {
		-webkit-transform: translateX(-150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}

.mapsInfo{
	animation-name: mapsInfo;
	-webkit-animation-name: mapsInfo;	

	animation-duration: 3s;	
	-webkit-animation-duration: 3s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes mapsInfo {
	0% {
		transform: translateX(250%);
	}
			
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes mapsInfo {
	0% {
		-webkit-transform: translateX(250%);
	}
			
	100% {
		-webkit-transform: translateX(0%);
	}
}
.infoContent {
	width: 100%;
	height: 25%;
	box-sizing: border-box;
	position: relative;
	padding: 5px;
}
.infoContent1 {
	width: 100%;
	height: 50%;
	box-sizing: border-box;	
	position: relative;
	padding: 5px;
}
.infoImage {
	width: 30px;
	height: 30px;
	padding: 10px;
	float: left;
	vertical-align: top;
}
.infoText {
	width: 250px;
	height: 90%;
	float: left;
	box-sizing: border-box;
	position: relative;
	padding:  0 10px;
	font-family: "century gothic", sans-serif;
	font-size: 16px;
	color: #41608c;
	text-align: left;
}
.infoText1 {
	width: 250px;
	height: 90%;
	float: left;
	box-sizing: border-box;
	position: relative;
	padding: 10px;
	font-family: "century gothic", sans-serif;
	font-size: 16px;
	color: #41608c;
	text-align:left;
	margin-top: -10px;
	vertical-align: top;
}
.footerTextContact {
height: 80px;
overflow: hidden;
background-color: #41628f;
)













