body {
    width: 100%;
    overflow-y: scroll;
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    display: none;
} 
#global {
    height: 2580px;
    margin: 0 auto;
    zoom: 1;
    display: block;
    position: relative;
}
#header { 
    height: 70px;
    width: 100%; 
    display: block;
    position: fixed;
    z-index: 1000;
}
#header.sticky {
    background-color: #41628ff9;
}
#dd1 {
    height: 760px;
    width: 100%;
    background-image: url(../images/villa.jpg);
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
    display: block;
    background-position: 50% 50%;
}
.dd1Text {
    height: 690px;
    width: 1000px;
    position: relative;
    top: 70px;
    margin: 0 auto;
}
#dd2 {
    height: 965px;
    position: relative;
    background-color: #dde5f0;
    margin-top: 70px;
}
.dd2Form {
    height: 400px;
    width: 1400px;
    position: relative;
    margin: 0 auto;
}
.dd2Slider {
    width: 500px;
    height: 400px;
    float: left;
}
.dd2SliderText {
    width: 800px;
    height: 400px;
    float: left;
}
#formGlobal {
    width: 100%;
    height: 580px;
    background-image: url(../images/Catalog.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: 50% 50%;
}
#footer {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #201f1d;
    color: #fff;
    background-position: 50% 50%;
}
.menuBar {
    height: 70px;
    width: 100%;
    margin: 0;
    position: relative;
    outline: 0;
    vertical-align: top;
}
.nav {
    width: 100%;
    height: 70px;
    z-index: 999;
}
#menu {
    float: left;
    position: relative;
    background-position: 50% 50%;
}
.logo {
    position: absolute;
    top: 2px;
    left: 47%;
    cursor: pointer;
    text-indent: 0px;
}
.logo img {
    width: 111px;
    height: 50px
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}
.logo img:hover {
    width: 150px;
    height: 67,5px;
}
.barPhone {
    height: 48px;
    width: 100%;
}
.phonelist {
    margin: 0;
    text-align: center;
    display: block;
    float: right;
}
.urlButton {
    float: right;
    padding-top: 25px;
    width: 245px;
    height: 45px;
    border-left: 1px solid #fbddb720;
    border-bottom: 1px solid #fbddb720;
    border-right: 1px solid #fbddb720;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
}
.urlButton:hover {
    background-color: #f7d9b390;
}
.levelСontext {
    width: 510px;
    height: 70px;
    float: right;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}
.registrationButton {
    padding: 4px 10px;
    text-align: center;
    font-family: "century gothic", regular, sans-serif;
    color: #f7d9b3;
    font-weight: 100;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
}
.registrationButton:hover {
    text-decoration: none;
    color: #543a21;
}
.context {
    width: 100px;
    margin-left: 0;
    height: 43px;
    margin-right: -5px;
    padding-top: 26px;
    text-align: center;
    display: inline-block;
    border: 1px solid #fbddb720;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.8s 0.1s ease;
}
.context:hover{
    background-color: #f7d9b390;
}
.contextMenu {
    color: #f7d9b3;
    cursor: pointer;
    font-weight: 100;
    font-family: "century gothic", sans-serif;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}
.contextSp {
    width: 50px;
    height: 10px;
}
.contextMenu:hover {
    color: #543a21;
    font-weight: 400;
    margin-top: -2px;
    text-decoration: none;
}
.dd1TextH {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 50px;
    width: 630px;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
    padding-top: 220px;
    padding-left: 30px
    font-weight: 500;
    text-shadow: 0 1px 1px #000;
    text-align: left;
}
.sep {
    border: 0;
    width: 620px;
    height: 1px;
    margin: 2em 0;
    background-color: #fff;
}
.dd1TextP {
    width: 880px;
    height: 140px;
    margin-top: 34px;
    background-color: #3f608a30;
}
.text {
    position: relative;
}
.wrapper {
    position: absolute;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 23px;
    width: 815px;
    height: 140px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 100;
    left: 40px;
    line-height: 2;
}
.wave {
    color: #ffffff;
    font-weight: 100;
    text-shadow: 0 2px 4px #000;
    -webkit-animation: 1s color infinite;
    animation: 1s color infinite;
}
#toTop {
    padding:5px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
}

/*.phone {
    height: 50px; 
}
.phoneText {
    width: 300px;
    float: right;
    margin-right: 47px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 11px;
    margin-top: 0;
    font-weight: 100;
    margin-bottom: 0;
    color: #eed3b0;
}

анимация увеличения картинки!!
.image img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.image img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }















*/
