body {
    width: 100%;
    overflow-y: scroll;
    background: #fff;
    color: #1d2129;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    display: block;
} 
#global {
    height: 2580px;
    margin: 0 auto;
    zoom: 1;
    display: block;
    position: relative;
}
#header { 
    height: 95px;
    width: 100%; 
    display: block;
    position: fixed;
    z-index: 1000;
}
#dd1 {
    height: 535px;
    width: 100%;
    background-image: url(../images/villa.jpg);
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    overflow: hidden;
    display: block;
    top: 50px;
    background-position: 50% 50%;
}
.dd1Text {
    height: 455px;
    width: 1000px;
    position: relative;
    top: 130px;
    margin: 0 auto;
}
#dd2 {
    height: 965px;
    position: relative;
    background-color: #ececec;
    margin-top: 130px;
}
.dd2Form {
    height: 400px;
    width: 1400px;
    position: relative;
    margin: 0 auto;
}
.dd2Slider {
    width: 500px;
    height: 400px;
    float: left;
}
.dd2SliderText {
    width: 800px;
    height: 400px;
    float: left;
}
#formGlobal {
    width: 100%;
    height: 580px;
    background-image: url(../images/Catalog.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    background-position: 50% 50%;
}
#footer {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
    background-color: #201f1d;
    color: #fff;
    background-position: 50% 50%;
}
.menuBar {
    height: 50px;
    width: 100%;
    margin: 0;
    position: relative;
    outline: 0;
    background-color: #ececec;
    vertical-align: top;
}
.nav {
    width: 100%;
    height: 45px;
    background: linear-gradient(to left, #90734ad1, #ececec);
}
#menu {
    float: right;
    position: relative;
}
.logo {
    position: absolute;
    top: 8px;
    left: 30px;
}
.barPhone {
    height: 48px;
    width: 100%;
    border-top: 2px solid #aa865550;
}
.phonelist {
    margin: 0 47px 0 0;
    text-align: center;
    display: block;
    float: right;
}
.phoneText {
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 11px;
    margin-top: 0;
    margin-bottom: 0;
    color: #aa8655;
}
.phone {    
    width: 120px;
    margin-top: 10px;
    position: relative;
    float: left;
}
.H {
    text-align: right;
}
.urlButton {
    float: right;
    padding-top: 9px;
    width: 245px;
}
.levelСontext {
    width: 600px;
    float: right;
    margin-right: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.registrationButton {
    padding: 6px 12px;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    background: linear-gradient(#90734ad1, #90734ad1);
    border: 1px solid #a9846f;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    font-size: 12px;
    text-decoration: none;
}
.registrationButton:hover {
    background: linear-gradient(#90734a80, #90734a90);
    text-decoration: none;
    box-shadow: 1px 1px 1px grey;
    color: #fff;
}
.context {
    padding-top: 20px;
    padding-left: 43px;
    display: inline-block;
}
.contextMenu {
    color: #ffffffbf;
    cursor: pointer;
    font-weight: 100;
    font-family: "century gothic", sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.contextMenu:hover {
    color: #5a3400;
    font-weight: 400;
    margin-top: -2px;
    text-decoration: none;
}
.dd1TextH {
    height: 40px;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 34px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding-top: 155px;
    letter-spacing: 2px;
    font-weight: 200;
    text-shadow: 0 3px 6px #000;
    z-index: 999;
    text-align: left;
}
.sep {
    border: 0;
    width: 500px;
    height: 1px;
    margin: 2em 0;
    background-color: rgba(255,255,255,0.4);
}
.dd1TextP {
    padding-top: 12px;
}
.text {
    position: relative;
    /*text-shadow: 0 1px 1px #00082f;*/
}
.wrapper {
    position: absolute;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 23px;
    width: 794px;
    text-align: left;
    letter-spacing: 1px;
    font-weight: 100;
    left: 40px;
}
.wave {
  color: #ffffff;
  font-weight: 100;
    text-shadow: 0 2px 4px #000;
  -webkit-animation: 1s color infinite;
          animation: 1s color infinite;
}
.wbr{
    height: 40px;
}
#toTop {
    padding:5px;
    position:fixed;
    bottom:10px;
    right:10px;
    cursor:pointer;
    display:none;
}



